.main {
  background: #fffcb6;
  color: #272D2A;
  font-size: 20px;
  min-height: 100vh;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 auto;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.blog h1 {
  margin-block: 1em;
}
.blog p {
  margin-block: 1em;
}
