@import "@remirror/styles/all.css";
/*
  Need to explicitly set config path, otherwise it may fail to resolve when
  built from outside packages/ui.
*/
@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* :host for use with Shadow DOM, copied from the TailwindCSS prelude */
  :host,
  :root {
    --colors-base-white: #ffffff;

    --colors-gray-light-mode-gray-100: #f2f4f7;
    --colors-gray-light-mode-gray-200: #e4e7ec;
    --colors-gray-light-mode-gray-300: #d0d5dd;
    --colors-gray-light-mode-gray-400: #98a2b3;
    --colors-gray-light-mode-gray-500: #697586;
    --colors-gray-light-mode-gray-600: #475467;
    --colors-gray-light-mode-gray-700: #344054;
    --colors-gray-light-mode-gray-800: #182230;
    --colors-gray-light-mode-gray-900: #101828;
    --colors-gray-light-mode-gray-950: #0c111d;
    --colors-gray-light-mode-gray-50: #f9fafb;
    --colors-gray-light-mode-gray-25: #fcfcfd;

    --colors-gray-dark-mode-gray-25: #fafafa;
    --colors-gray-dark-mode-gray-50: #f5f5f6;
    --colors-gray-dark-mode-gray-100: #f0f1f1;
    --colors-gray-dark-mode-gray-200: #ececed;
    --colors-gray-dark-mode-gray-300: #cecfd2;
    --colors-gray-dark-mode-gray-400: #94969c;
    --colors-gray-dark-mode-gray-500: #85888e;
    --colors-gray-dark-mode-gray-600: #51525c;
    --colors-gray-dark-mode-gray-700: #333741;
    --colors-gray-dark-mode-gray-800: #25282f;
    --colors-gray-dark-mode-gray-900: #161b26;
    --colors-gray-dark-mode-gray-950: #0c111d;

    --colors-warning-yellow-25: #fffcf5;
    --colors-warning-yellow-50: #fffaeb;
    --colors-warning-yellow-100: #fef0c7;
    --colors-warning-yellow-200: #fedf89;
    --colors-warning-yellow-300: #fec84b;
    --colors-warning-yellow-400: #fdb022;
    --colors-warning-yellow-500: #f79009;
    --colors-warning-yellow-600: #dc6803;
    --colors-warning-yellow-700: #b54708;
    --colors-warning-yellow-800: #93370d;
    --colors-warning-yellow-900: #7a2e0e;
    --colors-warning-yellow-950: #4e1d09;

    --colors-brand-green-100: #dcfae6;
    --colors-brand-green-200: #abefc6;
    --colors-brand-green-300: #75e0a7;
    --colors-brand-green-400: #47cd89;
    --colors-brand-green-500: #17b26a;
    --colors-brand-green-600: #079455;
    --colors-brand-green-700: #067647;
    --colors-brand-green-800: #085d3a;
    --colors-brand-green-900: #074d31;
    --colors-brand-green-1000: #053321;

    --colors-error-red-100: #ffebed;
    --colors-error-red-200: #f9cdd1;
    --colors-error-red-300: #f6adb4;
    --colors-error-red-400: #f07582;
    --colors-error-red-500: #af1323;
    --colors-error-red-600: #99000f;
    --colors-error-red-700: #80000d;
    --colors-error-red-800: #560009;
    --colors-error-red-900: #420007;
    --colors-error-red-1000: #330005;

    --radius: 0.5rem;

    /* (Text) Selection colors */
    --bg-selection: var(--colors-gray-light-mode-gray-300);
    --text-selection: var(--colors-gray-light-mode-gray-900);

    /* Primary colors */
    --bg-primary: var(--colors-base-white);
    --bg-primary-hover: var(--colors-gray-light-mode-gray-100);
    --fg-primary: var(--colors-gray-light-mode-grey-900);
    --fg-primary-alt: var(--colors-gray-light-mode-gray-500);
    --border-primary: var(--colors-gray-light-mode-gray-300);

    /* Secondary colors */
    --bg-secondary: var(--colors-gray-light-mode-gray-50);
    --bg-secondary-hover: var(--colors-gray-light-mode-gray-100);
    --fg-secondary: var(--colors-gray-light-mode-gray-700);
    --fg-secondary-alt: var(--colors-gray-light-mode-gray-500);
    --border-secondary: var(--colors-gray-light-mode-gray-200);

    /* Tertiary colors */
    --bg-tertiary: var(--colors-gray-light-mode-gray-100);
    --fg-tertiary: var(--colors-gray-light-mode-gray-600);

    /* Brand colors */
    /* Brand primary */
    --bg-brand-primary: var(--colors-brand-green-200);
    --bg-brand-primary-hover: var(--colors-brand-green-300);
    --fg-brand-primary: var(--colors-brand-green-1000);
    --fg-brand-primary-alt: var(--colors-brand-green-900);
    --border-brand-primary: var(--colors-brand-green-300);
    /* Brand secondary */
    --bg-brand-secondary: var(--colors-brand-green-800);
    --bg-brand-secondary-hover: var(--colors-brand-green-700);
    --fg-brand-secondary: var(--colors-brand-green-100);
    --fg-brand-secondary-alt: var(--colors-brand-green-200);
    --border-brand-secondary: var(--colors-brand-green-500);

    /* Warning colors */
    --bg-warning-primary: var(--colors-warning-yellow-50);

    /* Error colors */
    /* Error primary */
    --bg-error-primary: var(--colors-error-red-500);
    --bg-error-primary-hover: var(--colors-error-red-400);
    --fg-error-primary: var(--colors-error-red-100);
    --fg-error-primary-alt: var(--colors-error-red-200);
    --border-error-primary: var(--colors-error-red-300);
    /* Error secondary */
    --bg-error-secondary: var(--colors-error-red-100);
    --bg-error-secondary-hover: var(--colors-error-red-200);
    --fg-error-secondary: var(--colors-error-red-500);
    --fg-error-secondary-alt: var(--colors-error-red-400);
    --border-error-secondary: var(--colors-error-red-300);

    /* Disabled colors */
    --bg-disabled: var(--colors-gray-light-mode-gray-100);
    --fg-disabled: var(--colors-gray-light-mode-gray-400);
  }

  /* dark theme */
  *[data-mode="dark"] {
    /* (Text) Selection colors */
    --bg-selection: var(--colors-gray-dark-mode-gray-200);
    --text-selection: var(--colors-gray-dark-mode-gray-900);

    /* Primary colors */
    --bg-primary: var(--colors-gray-dark-mode-gray-950);
    --bg-primary-hover: var(--colors-gray-dark-mode-gray-800);
    --fg-primary: var(--colors-base-white);
    --fg-primary-alt: var(--colors-gray-dark-mode-gray-500);
    --border-primary: var(--colors-gray-dark-mode-gray-700);

    /* Secondary colors */
    --bg-secondary: var(--colors-gray-dark-mode-gray-900);
    --bg-secondary-hover: var(--colors-gray-dark-mode-gray-800);
    --fg-secondary: var(--colors-gray-dark-mode-gray-300);
    --fg-secondary-alt: var(--colors-gray-dark-mode-gray-500);
    --border-secondary: var(--colors-gray-dark-mode-gray-800);

    /* Tertiary colors */
    --bg-tertiary: var(--colors-gray-dark-mode-gray-800);
    --fg-tertiary: var(--colors-gray-dark-mode-gray-400);

    /* Brand colors */
    /* Brand primary */
    --bg-brand-primary: var(--colors-brand-green-800);
    --bg-brand-primary-hover: var(--colors-brand-green-700);
    --fg-brand-primary: var(--colors-brand-green-100);
    --fg-brand-primary-alt: var(--colors-brand-green-200);
    --border-brand-primary: var(--colors-brand-green-500);
    /* Brand secondary */
    --bg-brand-secondary: var(--colors-brand-green-200);
    --bg-brand-secondary-hover: var(--colors-brand-green-300);
    --fg-brand-secondary: var(--colors-brand-green-1000);
    --fg-brand-secondary-alt: var(--colors-brand-green-900);
    --border-brand-secondary: var(--colors-brand-green-400);

    /* Warning colors */
    --bg-warning-primary: var(--colors-warning-yellow-500);

    /* Error colors */
    /* Error primary */
    --bg-error-primary: var(--colors-error-red-500);
    --bg-error-primary-hover: var(--colors-error-red-400);
    --fg-error-primary: var(--colors-error-red-100);
    --fg-error-primary-alt: var(--colors-error-red-200);
    --border-error-primary: var(--colors-error-red-300);
    /* Error secondary */
    --bg-error-secondary: var(--colors-error-red-500);
    --bg-error-secondary-hover: var(--colors-error-red-400);
    --fg-error-secondary: var(--colors-error-red-500);
    --fg-error-secondary-alt: var(--colors-error-red-400);
    --border-error-secondary: var(--colors-error-red-300);

    /* Disabled colors */
    --bg-disabled: var(--colors-gray-dark-mode-gray-800);
    --fg-disabled: var(--colors-gray-dark-mode-gray-500);
  }
}

@layer base {
  * {
    @apply border-border-primary;
  }
  body {
    @apply bg-bg-primary text-fg-primary;
  }

  ::selection {
    background-color: var(--bg-selection);
    color: var(--text-selection) !important;
  }
}

@layer components {
  .val-rich-text-editor .remirror-editor.ProseMirror {
    overflow-y: hidden;
  }
  .val-rich-text-editor h1 {
    @apply text-2xl font-bold;
  }
  .val-rich-text-editor h2 {
    @apply text-xl font-bold;
  }
  .val-rich-text-editor h3 {
    @apply text-lg font-bold;
  }
  .val-rich-text-editor h4 {
    @apply text-base font-bold;
  }
  .val-rich-text-editor h5 {
    @apply text-sm font-bold;
  }
  .val-rich-text-editor h6 {
    @apply text-xs font-bold;
  }
  .val-rich-text-editor p {
    @apply text-base;
  }
  .val-rich-text-editor ul {
    @apply list-disc;
  }
  .val-rich-text-editor ol {
    @apply list-decimal;
  }
  .val-rich-text-editor li {
    @apply ml-[20px];
  }
  .val-rich-text-editor a {
    @apply underline text-fg-brand-primary;
  }
}

#val-overlay-container {
  visibility: visible;
}

#val-app-container {
  visibility: visible !important;
}
