@import "@remirror/styles/all.css";
/*
  Need to explicitly set config path, otherwise it may fail to resolve when
  built from outside packages/ui.
*/
@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* :host for use with Shadow DOM, copied from the TailwindCSS prelude */
  :host {
    --background: hsl(0 0% 100%);
    --foreground: hsl(222.2 84% 4.9%);

    --card: hsl(0 0% 100%);
    --card-foreground:hsl( 222.2 84% 4.9%);

    --popover: hsl(0 0% 100%);
    --popover-foreground:hsl( 222.2 84% 4.9%);

    --primary: hsl(222.2 47.4% 11.2%);
    --primary-foreground:hsl( 210 40% 98%);

    --secondary: hsl(210 40% 96.1%);
    --secondary-foreground:hsl( 222.2 47.4% 11.2%);

    --muted: hsl(0 0% 57.3%);
    --muted-foreground:hsl( 215.4 16.3% 46.9%);

    --accent: hsl(273 60% 51%);
    --accent-foreground:hsl( 110 10% 94%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground:hsl( 210 40% 98%);

    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(214.3 31.8% 91.4%);
    --ring: hsl(222.2 84% 4.9%);

    --radius: 0.5rem;
  }
  :root {
    --background: hsl(110 10% 94%);
    --foreground: hsl(222.2 84% 4.9%);

    --card: hsl(0 0% 100%);
    --card-foreground:hsl( 222.2 84% 4.9%);

    --popover: hsl(0 0% 100%);
    --popover-foreground:hsl( 222.2 84% 4.9%);

    --primary: hsl(222.2 47.4% 11.2%);
    --primary-foreground:hsl( 210 40% 98%);

    --secondary: hsl(210 40% 96.1%);
    --secondary-foreground:hsl( 222.2 47.4% 11.2%);

    --muted: hsl(0 0% 57.3%);
    --muted-foreground:hsl( 215.4 16.3% 46.9%);

    --accent: hsl(273 60% 51%);
    --accent-foreground:hsl( 110 10% 94%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground:hsl( 210 40% 98%);

    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(212.7 9.1% 76.3%);
    --ring: hsl(222.2 84% 4.9%);

    --radius: 0.5rem;
  }

  /* dark theme */
  *[data-mode="dark"] {
    --background: hsl(223 84% 5%);
    --foreground: hsl(210 40% 98%);

    --card: hsl(222.2 84% 4.9%);
    --card-foreground:hsl( 210 40% 98%);

    --popover: hsl(222.2 84% 4.9%);
    --popover-foreground:hsl( 210 40% 98%);

    --primary: hsl(210 40% 98%);
    --primary-foreground:hsl( 222.2 47.4% 11.2%);

    --secondary: hsl(217.2 32.6% 17.5%);
    --secondary-foreground:hsl( 210 40% 98%);

    --muted: hsl(178 23% 76%);
    --muted-foreground:hsl( 215 20.2% 65.1%);

    --accent: hsl(159 60% 51%);
    --accent-foreground:hsl( 210 40% 98%);

    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground:hsl( 210 40% 98%);

    --border: hsl(217.2 32.6% 17.5%);
    --input: hsl(217.2 32.6% 17.5%);
    --ring: hsl(212.7 26.8% 83.9%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .val-rich-text-editor .remirror-editor.ProseMirror {
    overflow-y: hidden;
  }
  .val-rich-text-editor h1 {
    @apply text-2xl font-bold;
  }
  .val-rich-text-editor h2 {
    @apply text-xl font-bold;
  }
  .val-rich-text-editor h3 {
    @apply text-lg font-bold;
  }
  .val-rich-text-editor h4 {
    @apply text-base font-bold;
  }
  .val-rich-text-editor h5 {
    @apply text-sm font-bold;
  }
  .val-rich-text-editor h6 {
    @apply text-xs font-bold;
  }
  .val-rich-text-editor p {
    @apply text-base;
  }
  .val-rich-text-editor ul {
    @apply list-disc;
  }
  .val-rich-text-editor ol {
    @apply list-decimal;
  }
  .val-rich-text-editor li {
    @apply ml-[20px];
  }
  .val-rich-text-editor a {
    @apply underline text-accent;
  }
}

#val-overlay-container {
  visibility: visible;
}
